[submodule "node_modules/.pnpm/@layerzerolabs+toolbox-foundry@0.1.12/node_modules/@layerzerolabs/toolbox-foundry/lib/openzeppelin-foundry-upgrades"]
	path = node_modules/.pnpm/@layerzerolabs+toolbox-foundry@0.1.12/node_modules/@layerzerolabs/toolbox-foundry/lib/openzeppelin-foundry-upgrades
	url = https://github.com/OpenZeppelin/openzeppelin-foundry-upgrades
